
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: "Roboto", sans-serif;
}


.clearfix {
    clear: both;
}


@import "variables";
@import "header";
@import "calendar";
@import "dragAndDrop";
@import "iconBox";
@import "arrows";
@import "infoBox";
//@import "helpBox";




/*  
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
------------------HELP BOX----------------------
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& 
*/



.helpBox {
    opacity: 0;
    width: 0;
    height: 0;
    //    width: 873px;
    //    height: 450px;
    box-shadow: 4px 4px 6px #c2c2a3;
    border: 1px solid $border-color;
    position: absolute;
    top: 77px;
    left: 45px;
    //    top: 169px;
    //    left: 222px;
    background-color: #FFF;
    //    transition: width 1s, height 1s;
    background-image: url("../images/6a00d83451b26169e201a3fd13933f970b-pi.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    .helpBoxExitBtn {
        color: $buttons-color;
        //        margin-right: 6px;
        height: 20px;
        width: 20px;
        position: absolute;
        top: 15px;
        right: 13px;
        margin: 0;
        &.hoverBtn {
            color: #000;
            cursor: pointer;
        }
        //    p {
        //        width: 700px;
        //        height: 380px;
        //        border: 1px solid red;
        //        background-image: url("../images/6a00d83451b26169e201a3fd13933f970b-pi.jpg");
        //        background-position: center;
        //        background-repeat: no-repeat;
        //        background-size: cover;
        //    }
    }
}

/*
.helpBoxContainer {
position: absolute;
top: 77px;
left: 45px;
width: 0;
height: 0;
display: none;
}*/

@keyframes movingForward {
    0% {
        opacity: 0;
        width: 0;
        height: 0;
    }
    30% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        width: 873px;
        height: 470px;
        transform: translate(160px, 80px);
    }
}

@keyframes movingBackground {
    0% {
        transform: translate(160px, 80px);
        opacity: 1;
        width: 873px;
        height: 470px;
    }
    100% {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.animated {
    //        width: 873px;
    //        height: 450px; 
    animation-name: movingForward;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}


.backAnimated {
    //     width: 873px;
    //        height: 450px; 
    animation-name: movingBackground;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}











